body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #cdcdcd;
  margin: 0;
  color: #000046;
  font-family: "Open Sans", sans-serif;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2e2e2e;
  padding: 12px;
}

.main-logo {
  width: 111px;
  height: 57px;
}

.main-title {
  color: #dcbc65;
  padding-top: 20px;
  text-shadow: -3px 3px 1px #000;
  font-size: 25px;
}

img {
  max-width: 100%;
}

button {
  font-family: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.character__container {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  gap: 1rem;
  min-width: 220px;
  max-width: 220px;
  height: 450px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.231);
  align-items: center;
  text-align: center;
}

.character__image {
  max-width: 10rem;
  border-radius: 10px;
}

.characters {
  display: flex;
  padding: 2rem;
}
